@import '../../components/variables.css';

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.profileHeader {
  background: #555555;
  height:150px;
}
.profileContainer {
  background: #FFFFFF;
}

.pictureContainer {
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

.profileSection{
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
  max-width:800px;
}

.profilePresentation img{
  margin-top:-100px !important;
}

.actionButtonsContainer{
  text-align: center;
  position: fixed;
  right: 40px;
  bottom: 40px;
}
