.root {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #DDDDDD;
  margin-top:50px;
  padding: 0px 65px 20px 65px;
}

.text {
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.header{
  background-color: #ffffff;
  margin-top: -10px;

}

.button{
  display: inline-block;
  margin: 10px;
}
