@import '../../components/variables.css';

@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.heading{
  font-family: 'josefin-sans';
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.listContainer{
  margin-left:auto;
  margin-right:auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 50px;
  max-width:700px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.news {
  padding: 0;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsTitle {
  font-size: 1.125em;
}

.newsTitle,
.newsDesc {
  display: block;
}

.link{
  color:#333333;
  font-weight: 400;
}

.loader{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
