@import '../../components/variables.css';

@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.heading{
  font-family: 'josefin-sans';
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.searchResultContainer{
    margin-top: 30px;
}

.searchResultList{
  list-style-type: none;
  padding: 0;
}

.searchResultList li{
  background-color: #eee;
}

.searchResultList li:hover{
  background-color: #ddd;
}
