@import './../../variables.css';

@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.heading{
  font-family: 'josefin-sans';
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  padding: 0;
  max-width: var(--max-content-width);
}

.name{
  font-size: 20px;
  margin: 10px;
  font-weight: 300;
  display: inline-block;
}

.connections{
  color: #AAAAAA;
  display: inline-block;
}

.inactiveConnection{
  margin-right: 5px;
}

.activeConnection{
  margin-right: 5px;
  color: #444444;
}

.comments{
  display: inline-block;
  float:right;
  margin-right: 10px;
  margin-top: 12px;
}

.link{
  color:#555555;
}

.link:hover{
  color:#333333;
}
