.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.profileContainer {
  background: #FFFFFF;
}

.imageContainer {
  display: inline-block;
}

.imageContainer div{
  margin-left:auto;
  margin-right:auto;
  width:40px;
  height:40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding-top: 3px;
  text-align: center;
  color: #333333;
  background: #EEEEEE;
  font-family: Simple-Line-Icons;
  font-size: 21px;
}

.imageContainer img{
  width:40px;
  height:40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding-top: -3px;
}
