.root {
  text-align: center;
}

.divider{
  margin-top:40px;
}

.button{
  display: inline-block;
  margin: 10px;
}

.container{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.contactInfo{
  min-width: 150px;
  max-width: 250px;
  display: inline-block;
  margin: 5px;
  padding:3px;
}

.contactInfo:hover{
  background-color: #eeeeee;
}
