@import '../../components/variables.css';

.root {
  padding-left: 0px;
  padding-right: 0px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}

.link {
  color:#000000;
}

.listContainer{
  margin-left:auto;
  margin-right:auto;
  max-width:800px;
  padding-left: 50px;
  padding-right: 50px;
}

.listItem{
  width:300px;
  display:inline-block;
  padding:10px;
  margin:10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
