@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}

.profileHeader {
  background: #555555;
  height:150px;
}
.profileContainer {
  background: #FFFFFF;
}

.pictureContainer {
  margin-left:auto;
  margin-right:auto;
  width:400px;
}

.profileSection{
  margin-left:auto;
  margin-right:auto;
  padding-left:20px;
  padding-right:20px;
  max-width:800px;
}

.profilePresentation img{
  margin-top:-100px !important;
}

.editContainer {
  margin-left:auto;
  margin-right:auto;
}

.editContainer button{

}
