@font-face{
  font-family: 'josefin-sans';
  src: url('/josefin-sans/JosefinSans-SemiBold.ttf') format('truetype');
}


.editContainer {
  margin-left:auto;
  margin-right:auto;
}

.editContainer button{

}
